body{
	background: url(http://mscs.mum.edu/images/background.jpg);
}

header{
	background: url(img/masthead.png) no-repeat;

}

.wrap{
	width: 900px;
	margin: 0 auto;
	background: white;
}
footer{
	min-height: 100px;
	background-color: #DFE6EC;
	margin-top: 50px;
}

.foot{
	    float: left;
    width: 48%;
    font-size: 12px;
    line-height: 24px;
}

main{
	width: 80%;
	margin: 0 auto;
	
	    color: #1a2853;
}

.one{
	background-color: #DFE6EC;
}

.logos{
	width: 100%;
}

.lt{
	float: left;
}

.rt{
	float: right;
}
.clear{
	clear: both;
}

.head{
margin-left: 30px;	
}
.main{
	float: right;
}

.block{
	display: block;
}
.red{
	background-color: red;
	color: white;
}
.text-red{
	color: red;
}

h3 a{
	text-decoration: none;
}

input, select, button{
	width: 80%;
	margin-top: 10px;
}