header{
	background: url(img/masthead.png);
	background-color: lime;
}

footer{
	min-height: 100px;
	background-color: #DFE6EC;
}

.foot{
	    float: left;
    width: 48%;
    font-size: 12px;
    line-height: 24px;
}

main{
	width: 80%;
	margin: 0 auto;
}

.logos{
	width: 100%;
}

.lt{
	float: left;
}

.rt{
	float: right;
}
.clear{
	clear: both;
}

.head{
margin-left: 30px;	
}
.main{
	float: right;
}

.block{
	display: block;
}
.red{
	background-color: red;
	color: white;
}